@charset "utf-8";
label {margin-bottom: 0;}
html,
button,
a,
input,
textarea {color: #808080;}
label {font-weight: normal;}
legend {margin-bottom: 0;}

/*
[readonly] {background-color: #f2f4f7;}
*/
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ccc;
    opacity: 1; /* Firefox */
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #ccc;
}
::-ms-input-placeholder { /* Microsoft Edge */
    color: #ccc;
}

/* mCSB_scroll bar */
.mCS-gray-thick .mCSB_container_wrapper {
	margin: 0;
}
.mCS-gray-thick.mCSB_scrollTools.mCSB_scrollTools_horizontal {z-index: 10;width: auto;height: 10px;}
.mCS-gray-thick.mCSB_scrollTools.mCSB_scrollTools_vertical {z-index: 10;width: 10px;}
.mCS-gray-thick.mCSB_scrollTools .mCSB_draggerRail {
	width: 100%;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	border: 0;
	background-color: rgba(216,216,216,1);
}
.mCS-gray-thick.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	width: 100%;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border: 0;
	border-radius: 0;
	background-color: rgba(189,189,189,1);
}
.mCSB_container_wrapper>.mCSB_container {
	padding-right: 11px;
}
.mCS-gray-thick.mCSB_scrollTools {width: 10px;}
.mCS-gray-thick.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {height: 100%;}
.mCSB_vertical_horizontal>.mCSB_scrollTools.mCSB_scrollTools_vertical {bottom: 1px}
.mCSB_vertical_horizontal>.mCSB_scrollTools.mCSB_scrollTools_horizontal {right: 11px;}
.mCS-gray-thick .mCSB_inside>.mCSB_container {margin-right: 10px;}
.mCS-gray-thick.mCSB_scrollTools.mCSB_scrollTools_horizontal .mCSB_dragger .mCSB_dragger_bar {margin: 0;}
.mCS-gray-thick.mCSB_scrollTools .mCSB_draggerRail {margin: 0;width: 100%;height: 100%;}
/* style  
-----------------------------------*/
.vt {vertical-align: top;}
.vm {vertical-align: middle !important;}
.vb {vertical-align: baseline !important;}

.ac {text-align: center !important;}
.al {text-align: left !important;}
.ar {text-align: right !important;}

.y-center {
	-ms-align-items: center;
	align-items: center;
}
.y-start {
	-ms-align-items: flex-start;
	align-items: flex-start;
}
.y-end {
	-ms-align-items: flex-end;
	align-items: flex-end;
}

.x-start {
	-ms-justify-content: flex-start;
	justify-content: flex-start;
}
.x-center {
	-ms-justify-content: center;
	justify-content: center;
}
.x-end {
	-ms-justify-content: flex-end;
	justify-content: flex-end;
}
.x-between {
	-ms-justify-content: space-between;
	justify-content: space-between;
}

.x-space {
	-ms-justify-content: space-around;
	justify-content: space-around;
}
.fr {float: right;}
.fl {float: left;}

.pd-0 {padding: 0 !important;}
.pdl-0 {padding-left: 0 !important;}
.pdr-0 {padding-right: 0 !important;}
.pdt-0 {padding-top: 0 !important;}
.pdb-0 {padding-bottom: 0 !important;}
.pd-tn {padding: 1px;}
.pdl-tn {padding-left: 1px;}
.pdr-tn {padding-right: 1px;}
.pdb-tn {padding-bottom: 1px;}
.pdt-tn {padding-top: 1px;}
.pd-xs {padding: 5px;}
.pdt-xs {padding-top: 5px;}
.pdl-xs {padding-left: 5px;}
.pdr-xs {padding-right: 5px;}
.pdb-xs {padding-bottom: 5px;}
.pd-sm {padding: 10px;}
.pdt-sm {padding-top: 10px;}
.pdl-sm {padding-left: 10px;}
.pdr-sm {padding-right: 10px;}
.pdb-sm {padding-bottom: 10px;}
.pd-md {padding: 15px;}
.pdt-md {padding-top: 15px;}
.pdl-md {padding-left: 15px;}
.pdr-md {padding-right: 15px;}
.pdb-md {padding-bottom: 15px;}
.pd-lg {padding: 20px;}
.pdr-lg {padding-right: 20px;}
.pdl-lg {padding-left: 20px;}
.pdb-lg {padding-bottom: 20px;}
.pdt-lg {padding-top: 20px;}

.m-0 {margin: 0 !important;}
.ml-0 {margin-left: 0 !important;}
.mr-0 {margin-right: 0 !important;}
.mt-0 {margin-top: 0 !important;}
.mb-0 {margin-bottom: 0 !important;}
.m-auto {margin: auto;}
.mt-auto {margin-top: auto;}
.ml-auto {margin-left: auto;}
.mr-auto {margin-right: auto;}
.mb-auto {margin-bottom: auto;}
.m-tn {margin: 1px;}
.mt-tn {margin-top: 1px;}
.ml-tn {margin-left: 1px;}
.mr-tn {margin-right: 1px;}
.mb-tn {margin-bottom: 1px;}
.m-xs {margin: 5px;}
.mt-xs {margin-top: 5px;}
.ml-xs {margin-left: 5px;}
.mr-xs {margin-right: 5px;}
.mb-xs {margin-bottom: 5px;}
.m-sm {margin: 10px;}
.mt-sm {margin-top: 10px;}
.ml-sm {margin-left: 10px;}
.mr-sm {margin-right: 10px;}
.mb-sm {margin-bottom: 10px;}
.m-md {margin: 15px;}
.mt-md {margin-top: 15px;}
.ml-md {margin-left: 15px;}
.mr-md {margin-right: 15px;}
.mb-md {margin-bottom: 15px;}
.m-lg {margin: 20px;}
.mt-lg {margin-top: 20px;}
.ml-lg {margin-left: 20px;}
.mr-lg {margin-right: 20px;}
.mb-lg {margin-bottom: 20px;}
.m-xl {margin: 25px;}
.mb-xl {margin-bottom: 25px;}
.mt-xl {margin-top: 25px;}
.mr-xl {margin-right: 25px;}
.ml-xl {margin-left: 25px;}

.bd-highlight {border: 1px solid #58bddf;}
.bdl-highlight {border-left: 1px solid #58bddf;}
.bdr-highlight {border-right: 1px solid #58bddf;}
.bdb-highlight {border-bottom: 1px solid #58bddf;}
.bd-primary {border: 1px solid #d0d3d6;}
.bdl-primary {border-left: 1px solid #d0d3d6;}
.bdr-primary {border-right: 1px solid #d0d3d6;}
.bdb-primary {border-bottom: 1px solid #d0d3d6;}
.bdt-primary {border-top: 1px solid #d0d3d6;}
.bd-secondary {border: 1px solid #e9e9e9;} 
.bdr-secondary {border-right: 1px solid #e9e9e9;} 
.bdl-secondary {border-left: 1px solid #e9e9e9;} 
.bdb-secondary {border-bottom: 1px solid #e9e9e9;} 
.bdt-secondary {border-top: 1px solid #e9e9e9;} 
.bd-0 {border-width: 0 !important;}
.bdt-0 {border-top-width: 0 !important;}
.bdl-0 {border-left-width: 0 !important;}
.bdr-0 {border-right-width: 0 !important;}
.bdb-0 {border-bottom-width: 0 !important;}
.bd-divide {border: 5px solid #d0d3d6;}
.bdt-divide {border-top: 5px solid #d0d3d6;}
.bdl-divide {border-left: 5px solid #d0d3d6;}
.bdr-divide {border-right: 5px solid #d0d3d6;}
.bdb-divide {border-bottom: 5px solid #d0d3d6;}

.bold {font-weight: 700;}
.ex-bold {font-weight: 900;}

.h-full {height: 100%;}
.w-full {width: 100%;}

.gradient-primary {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,edeef3+100 */
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #edeef3 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ffffff 0%,#edeef3 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ffffff 0%,#edeef3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#edeef3',GradientType=0 ); /* IE6-9 */
}
.gradient-secondary {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3b4b56+0,2f3c45+100 */
	background: #3b4b56; /* Old browsers */
	background: -moz-linear-gradient(top, #3b4b56 0%, #2f3c45 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #3b4b56 0%,#2f3c45 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #3b4b56 0%,#2f3c45 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b4b56', endColorstr='#2f3c45',GradientType=0 ); /* IE6-9 */
}

.box-case {
	border-width: 1px;border-style: solid;border-color: #222b31 #2b373e #2b373e;
	background-color: #2f3c45;
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.5), 0 1px 0 rgba(74,85,93,1);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,.5), 0 1px 0 rgba(74,85,93,1);
	box-shadow: inset 0 1px 3px rgba(0,0,0,.5), 0 1px 0 rgba(74,85,93,1);
}
.box-case2 {
	-webkit-box-shadow: inset 0 -1px 0 #424e56;
	-moz-box-shadow: inset 0 -1px 0 #424e56;
	box-shadow: inset 0 -1px 0 #424e56;
	border: 1px solid #222c32;
}
.box-case3 {border: 1px solid #d0d3d6;background-color: #e6e9ed;}

.box-case4 {
	border-width: 1px;
	border-style: solid;
	border-color: #afb1b2 #caccce #dddfe1;
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.3);
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.3);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.3);
}
.box-case5 {border: 1px solid #d0d3d6;background-color: #f2f4f7;} 
.box-case6 {
	-webkit-box-shadow: 0 1px 5px rgba(0,0,0,.3);
	-moz-box-shadow: 0 1px 5px rgba(0,0,0,.3);
	box-shadow: 0 1px 5px rgba(0,0,0,.3);
}


.ellipsis {display: block;overflow: hidden;width: 100%;text-overflow: ellipsis;white-space: nowrap;}

.cutter-5 >* {width: 20%;}

.corner-xs {-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;}
.corner-sm {-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
.corner-md {
	-webkit-border-radius: 15px;-moz-border-radius: 15px;border-radius: 15px;
}
.corner-half.cm_ico_badge,
.corner-half {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.shadow-none {
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}
.c-dark {color: #48555e;}
.c-white {color: #fff;}
.c-note {color: #babdc1;}
.c-attention {color: #e99292;}
.c-highlight {color: #4b90a7;}
.c-dark-highlight {color: #4b90a7;}
.c-header {color: #818a94;}
.c-dark-header {color: #498aa0;}
.c-label {color: #7d8a98}

[class*=f-special] {font-family: 'Nanum Square',sans-serif;}
.f-special-sm {font-size: 15px;}
.f-special {font-size: 18px;}
.f-special-md {font-size: 22px;}
.f-special-lg {font-size: 27px;}
.f-special-xl {font-size: 30px;}

.f-title {font-size: 14px;font-family: 'Noto Sans',sans-serif;}
.f-title-md {font-size: 15px;font-family: 'Nanum Square',sans-serif;}

[class*=f-content] {font-family: 'Noto Sans',sans-serif;}
.f-content-tn {font-size: 12px;}
.f-content-sm {font-size: 13px;}
.f-content {font-size: 14px;}

[class*=f-compact] {font-family: 'dotum',sans-serif;}
.f-compact {font-size: 12px;}
.f-compact-sm {font-size: 11px;}

.bg-none {background: none !important;}
.bg-white {background-color: #fff;}
.bg-deep-dark {background-color: #313e47;}
.bg-dark {background-color: #3b4b56;}
.bg-primary {background-color: #f2f4f7;}
.bg-secondary {background-color: #ebeff1}
.bg-light {background-color: #f5f8f9;}

.bg-bar {
	background-image: url(../images/bg_bar.png);
	background-repeat: no-repeat;
	width: 2px;
	height: 13px;
}

.scroll-y {overflow-y: auto;}
.scroll-x {overflow-x: auto;}
.scroll {overflow: auto;}

.divide {display: inline-block;width: 0;height: 14px;border-left: 1px solid #d0d3d6;border-right: 1px solid #fff;}

/* cmGrid */ 
[data-cm-layout=doc] {position: relative;height: 100%;}
[data-cm-panel=panel] {display: block;position: absolute;}

/* ax5layout */ 
[data-ax5layout]>[data-dock-panel],
[data-ax5layout]>[data-split-panel] {overflow: visible;}
[data-ax5layout]>[data-splitter] {z-index:5;background-color:#d0d3d6;}

/* ui-sortable */
.ui-sortable-helper {
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.2);
	box-shadow: 0 1px 3px rgba(0,0,0,.2);
	background-color: #fff;
}

/* state
-------------------------------------*/
.is_shortable {
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,.2);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,.2);
	box-shadow: 0 0 10px rgba(0,0,0,.2);
}

/* cm_tooltip_
--------------------------*/

/* cm_tooltip_primary */
.cm_tooltip_primary_arrow {position: absolute;height: 8px;background: url("../images/spr_pop_dir.png");background-position: 0 0;}
[data-cm-tooltip-arrow=left] {left: -5px;top: 5px;width: 5px;-ms-background-position-x: 0;background-position-x: 0;}
[data-cm-tooltip-arrow=top] {left: 50%;top: -5px;width: 8px;height: 5px;margin-left: -4px;-ms-background-position-x: -13px;background-position-x: -13px;}
[data-cm-tooltip-arrow=right] {right: -5px;top: 5px;width: 5px;-ms-background-position-x: -26px;background-position-x: -26px;}
[data-cm-tooltip-arrow=bottom] {left: 50%;bottom: -5px;width: 8px;height: 5px;margin-left: -4px;-ms-background-position-x: -39px;background-position-x: -39px;}
.cm_tooltip_primary {display: inline-block;}
.cm_tooltip_primary_inner {
	display: block;
	padding: 8px 10px;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.2);
	box-shadow: 0 1px 3px rgba(0,0,0,.2);
	position: relative;
	min-width: 100%;
	border-width: 1px;
	background-color: #fff;
	line-height: 1.5;
}
.cm_tooltip_primary_inner--dark {background-color: #515960;color: #fff;}
.cm_tooltip_primary_inner--dark .cm_tooltip_primary_arrow {-ms-background-position-y: -13px;background-position-y: -13px;}
.cm_tooltip_primary_inner--yellow {background-color: #fffcd8;}
.cm_tooltip_primary_inner--yellow .cm_tooltip_primary_arrow {-ms-background-position-y: -26px;background-position-y: -26px;}
.cm_tooltip_primary_inner--darkgreen {background-color: #3b4b56;color: #fff;}
.cm_tooltip_primary_inner--darkgreen .cm_tooltip_primary_arrow {-ms-background-position-y: -39px;background-position-y: -39px;}
.cm_tooltip_primary_util {padding: 5px;border-top-width: 1px;background-color: #f9fafc;}
.cm_tooltip_primary_inner,
.cm_tooltip_primary_util {padding-left: 8px;padding-right: 10px;border-style: solid;border-color: #d0d3d6;}

.cm_tooltip_primary--family {width: 375px;left: -100px !important;}
.cm_tooltip_primary--family .cm_tooltip_primary_arrow {margin-left: -53px;}

.cm_tooltip_primary--attention .cm_tooltip_primary_inner {padding: 0}

/* cm_tooltip_code */
.cm_tooltip_code {display: inline-block;}
.cm_tooltip_code_content {background-color: #fff;}

/* cm_btn
----------------------*/
/* cm_btn_compact */
.cm_btn_compact {padding: 0 5px;border: 1px solid #929fac;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;background-color: #abb4be;font-size: 12px;font-family: 'dotum',sans-serif;color: #fff;}
.cm_btn_compact:hover,
.cm_btn_compact:focus {
	border-color: #7d878e;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#abb4be+0,808c93+100 */
	background: #abb4be; /* Old browsers */
	background: -moz-linear-gradient(top, #abb4be 0%, #808c93 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #abb4be 0%,#808c93 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #abb4be 0%,#808c93 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#abb4be', endColorstr='#808c93',GradientType=0 ); /* IE6-9 */
}
.cm_btn_compact.is_active:hover,
.cm_btn_compact.is_active:focus,
.cm_btn_compact.is_active {
	-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,.3);
	-moz-box-shadow: inset 0 0 2px rgba(0,0,0,.3);
	box-shadow: inset 0 0 2px rgba(0,0,0,.3);
	border-color: #656d77;
	background: #8c97a4;
}
.cm_btn_compact--green.is_active,
.cm_btn_compact--green.is_active:hover,
.cm_btn_compact--green.is_active:focus {border-color: #366878;background-color: #4b90a7;}

.cm_btn_compact--gray {background-color: #4e5f6b;color: #b5babe;}
.cm_btn_compact--gray.is_active,
.cm_btn_compact--gray.is_active:hover,
.cm_btn_compact--gray.is_active:focus {background-color: #4e5f6b;}

.cm_btn_compact[disabled] {border-color: #d0d3d6 !important;background: #dee2e6 !important;}

/* cm_btn_primary */
[class*=cm_btn_primary] {
	height: 28px;
	padding: 0 10px;
	border: 1px solid #c4ccd4;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color: #657f8e;
	font-weight: 700;
	font-size: 15px;
	line-height: 28px;
	text-align: center;
}
.cm_btn_primary {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9fafc+0,cad4dd+100 */
	background: #f9fafc; /* Old browsers */
	background: -moz-linear-gradient(top, #f9fafc 0%, #cad4dd 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #f9fafc 0%,#cad4dd 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #f9fafc 0%,#cad4dd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9fafc', endColorstr='#cad4dd',GradientType=0 ); /* IE6-9 */
}
.cm_btn_primary:focus,
.cm_btn_primary:hover {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9fafc+50,e3e8ee+50 */
	background: #f9fafc; /* Old browsers */
	background: -moz-linear-gradient(top, #f9fafc 50%, #e3e8ee 50%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #f9fafc 50%,#e3e8ee 50%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #f9fafc 50%,#e3e8ee 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9fafc', endColorstr='#e3e8ee',GradientType=0 ); /* IE6-9 */
}
.cm_btn_primary.is_active,
.cm_btn_primary.is_active:focus,
.cm_btn_primary.is_active:hover {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ccd6de+0,e2e7ed+51,d8e0e7+53,e3e8ee+100 */
	background: #ccd6de; /* Old browsers */
	background: -moz-linear-gradient(top, #ccd6de 0%, #e2e7ed 51%, #d8e0e7 53%, #e3e8ee 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ccd6de 0%,#e2e7ed 51%,#d8e0e7 53%,#e3e8ee 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ccd6de 0%,#e2e7ed 51%,#d8e0e7 53%,#e3e8ee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccd6de', endColorstr='#e3e8ee',GradientType=0 ); /* IE6-9 */
}

.cm_btn_primary--gray {
	border-color: #939dab;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8c97ab+1,8993a5+49,838ea0+50,6e7888+100 */
	background: #8c97ab; /* Old browsers */
	background: -moz-linear-gradient(top, #8c97ab 1%, #8993a5 49%, #838ea0 50%, #6e7888 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #8c97ab 1%,#8993a5 49%,#838ea0 50%,#6e7888 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #8c97ab 1%,#8993a5 49%,#838ea0 50%,#6e7888 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8c97ab', endColorstr='#6e7888',GradientType=0 ); /* IE6-9 */
	color: #fff;
}

.cm_btn_primary--gray:focus,
.cm_btn_primary--gray:hover {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#98a2b5+0,98a2b3+49,8691a6+50,8691a6+50,8691a4+100 */
	background: #98a2b5; /* Old browsers */
	background: -moz-linear-gradient(top, #98a2b5 0%, #98a2b3 49%, #8691a6 50%, #8691a6 50%, #8691a4 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #98a2b5 0%,#98a2b3 49%,#8691a6 50%,#8691a6 50%,#8691a4 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #98a2b5 0%,#98a2b3 49%,#8691a6 50%,#8691a6 50%,#8691a4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#98a2b5', endColorstr='#8691a4',GradientType=0 ); /* IE6-9 */
}
.cm_btn_primary--gray.is_active,
.cm_btn_primary--gray.is_active:hover,
.cm_btn_primary--gray.is_active:focus{
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6f7a89+0,7a8598+49,8691a6+50,828c9e+50,8a96ab+100 */
	background: #6f7a89; /* Old browsers */
	background: -moz-linear-gradient(top, #6f7a89 0%, #7a8598 49%, #8691a6 50%, #828c9e 50%, #8a96ab 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #6f7a89 0%,#7a8598 49%,#8691a6 50%,#828c9e 50%,#8a96ab 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #6f7a89 0%,#7a8598 49%,#8691a6 50%,#828c9e 50%,#8a96ab 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6f7a89', endColorstr='#8a96ab',GradientType=0 ); /* IE6-9 */
}

.cm_btn_primary--highlight {
	border-color: #4e879b;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#429dbc+0,3e94b0+29,3c8ba5+50,31839d+51,2a6e84+100 */
	background: #429dbc; /* Old browsers */
	background: -moz-linear-gradient(top, #429dbc 0%, #3e94b0 29%, #3c8ba5 50%, #31839d 51%, #2a6e84 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #429dbc 0%,#3e94b0 29%,#3c8ba5 50%,#31839d 51%,#2a6e84 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #429dbc 0%,#3e94b0 29%,#3c8ba5 50%,#31839d 51%,#2a6e84 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#429dbc', endColorstr='#2a6e84',GradientType=0 ); /* IE6-9 */
	color: #fff;
}
.cm_btn_primary--highlight:focus,
.cm_btn_primary--highlight:hover {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5bb5d3+0,58adc9+29,56a6c0+49,3795b3+51,31829c+100 */
	background: #5bb5d3; /* Old browsers */
	background: -moz-linear-gradient(top, #5bb5d3 0%, #58adc9 29%, #56a6c0 49%, #3795b3 51%, #31829c 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #5bb5d3 0%,#58adc9 29%,#56a6c0 49%,#3795b3 51%,#31829c 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #5bb5d3 0%,#58adc9 29%,#56a6c0 49%,#3795b3 51%,#31829c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5bb5d3', endColorstr='#31829c',GradientType=0 ); /* IE6-9 */
}
.cm_btn_primary--highlight.is_active,
.cm_btn_primary--highlight.is_active:hover,
.cm_btn_primary--highlight.is_active:focus {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2a6d83+0,31839d+53,3c8ba5+53,419cbb+100 */
	background: #2a6d83; /* Old browsers */
	background: -moz-linear-gradient(top, #2a6d83 0%, #31839d 53%, #3c8ba5 53%, #419cbb 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #2a6d83 0%,#31839d 53%,#3c8ba5 53%,#419cbb 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #2a6d83 0%,#31839d 53%,#3c8ba5 53%,#419cbb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a6d83', endColorstr='#419cbb',GradientType=0 ); /* IE6-9 */
}

/* cm_btn_attention */
.cm_btn_attention {
	height: 1.2em;
	padding: 0 .1em;
	border: 1px solid #e99292;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	color: #e99292;
	line-height: 1.2em;
}

/* cm_btn_arrow */
.cm_btn_arrow {width: 50px;}

/* cm_btn_txt */
.cm_btn_txt {color: #d0d3d6;}
.cm_btn_txt--memo {font-size: 12px;font-weight: 700;}
.cm_btn_txt--memo.is_active {color: #e99292;}

/* cm_btnico_ 
----------------------*/
[class*=cm_btnico] {display: inline-block;background-repeat: no-repeat;}
/* cm_btnico_srch */ 
.cm_btnico_srch {width: 17px;height: 17px;background-image: url(../images/spr_srch.png);background-position-y: 0;font-size: 0;line-height: 0;}
.cm_btnico_srch:hover,
.cm_btnico_srch:focus,
.cm_btnico_srch.is_active {-ms-background-position-y: -22px;background-position-y: -22px;}
.cm_btnico_srch--sm {width: 11px;height: 11px;-webkit-background-size: 11px;background-size: 11px;}

/* cm_btnico_down */ 
.cm_btnico_down {padding-right: 10px;}

/* cm_btnico_speach */ 
.cm_btnico_speach {font-size: 16px;font-weight: 700;color: #657f8e;}
.cm_btnico_speach:before {content: url(../images/btnico_speach.png);margin-right: 10px;vertical-align: -1px;}

/* img ,family */ 
.cm_btnico_img:before,
.cm_btnico_family:before {display: inline-block;content: '';width: 15px;height: 13px;margin-right: 5px;background-position-x: -5px;background-image: url(../images/spr_patient_info_ui.png);}
.cm_btnico_img:before {background-position-y: -81px}
.cm_btnico_family:before {background-position-y: -63px;}
.cm_btnico_img.is_active,
.cm_btnico_family.is_active {color: #4b90a7;}
.cm_btnico_img.is_active:before,
.cm_btnico_family.is_active:before {width: 17px;background-position-x: -22px;}

/* cm_btnico_record */
.cm_btnico_record {position: relative;width: 4px;height: 4px;font-size: 0;vertical-align: middle;}
.cm_btnico_record:before {display: block;content: '';position: absolute;top: -6px;width: 0;height: 0;border-width: 4px;border-style: solid;border-color: transparent transparent #4b90a7;}
.cm_btnico_record.is_active:before {
	top: -2px;
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}
.cm_btnico_record--horz:before {
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
} 
.cm_btnico_record--horz.is_active:before {
	-ms-transform: rotate(270deg);
	transform: rotate(270deg);
}

/* cm_btnico_send */
.cm_btnico_send {width: 11px;height: 15px;font-size: 0;}
.cm_btnico_send:before {content: url(../images/btnico_send_off.png);}
.cm_btnico_send:hover:before,
.cm_btnico_send.ative:hover:before,
.cm_btnico_send.ative:before{content: url(../images/btnico_send_on.png);}

/* cm_btnico_pacs */
.cm_btnico_pacs {
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	padding: 0 2px;
	border-radius: 2px;
	background-color: #7aa8b1;
	color: #fff;
}
/* .cm_btnico_star */
.cm_btnico_star {width: 18px;height: 18px;background-image: url(../images/spr_patient_info_ui.png);background-position: -5px -40px;background-repeat: no-repeat;font-size: 0;}
.cm_btnico_star.is_active {background-position-x: -28px;}

/* cm_btnico_utils */
.cm_btnico_utils,
.cm_btnico_utils2 {width: 17px;height: 17px;background-image: url(../images/spr_utils_ui.png);font-size: 0;}
.cm_btnico_utils {-ms-background-position-y: 0;background-position-y: 0;}
.cm_btnico_utils2 {-ms-background-position-y: -66;background-position-y: -66px;vertical-align: middle;}
[class*=cm_btnico_utils][class*=color] {background-position-x: 0;}
[class*=cm_btnico_utils][class*=font] {background-position-x: -22px;}
[class*=cm_btnico_utils][class*=set] {background-position-x: -44px;}
[class*=cm_btnico_utils][class*=max] {background-position-x: -66px;}
[class*=cm_btnico_utils][class*=min] {background-position-x: -88px;}
[class*=cm_btnico_utils][class*=move] {width: 3px;background-position-x: -110px;}
[class*=cm_btnico_utils][class*=vert_max] {background-position-x: -132px;}
[class*=cm_btnico_utils][class*=all_max] {background-position-x: -154px;}
[class*=cm_btnico_utils][class*=print] {background-position-x: -176px;} 
.cm_btnico_utils:focus,
.cm_btnico_utils:hover {background-position-y: -22px;}
.cm_btnico_utils.is_active {background-position-y: -44px;}
.cm_btnico_utils2:focus,
.cm_btnico_utils2:hover {background-position-y: -88px;}
.cm_btnico_utils2.is_active {background-position-y: -110px;}

/* cm_btnico_utils3  */
.cm_btnico_utils3:before {
	display: inline-block;
	content: '';
	width: 12px;
	height: 12px;
	background-image: url(../images/spr_utils_ui.png);
	-ms-background-position-y: -132px;
	background-position-y: -132px;
	vertical-align: -1px;
}

.cm_btnico_utils3--unfld:before {background-position-x: 0;}
.cm_btnico_utils3--save:before {background-position-x: -21px;}
.cm_btnico_utils3--sms:before {background-position-x: -44px;}
.cm_btnico_utils3--defer:before {background-position-x: -66px;}
.cm_btnico_utils3--register:before {background-position-x: -88px;}
.cm_btnico_utils3--star:before {background-position-x: -110px;}
.cm_btnico_utils3:hover,
.cm_btnico_utils3.is_active{color: #459ab7;}
.cm_btnico_utils3.is_active:before {-ms-background-position-y: -149px;background-position-y: -149px;}


/* cm_btnico_utils4  */
.cm_btnico_utils4 {border: 1px solid #d0d3d6;}
.cm_btnico_utils4 {
	-webkit-box-shadow: inset 0 0 0 #fff;
	-moz-box-shadow: inset 0 0 0 #fff;
	box-shadow: inset 0 0 0 #fff;
	width: 27px;
	height: 27px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,edeef3+100 */
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #edeef3 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ffffff 0%,#edeef3 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ffffff 0%,#edeef3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#edeef3',GradientType=0 ); /* IE6-9 */
	font-size: 0;
	line-height: 27px;
	text-align: center;
}
.cm_btnico_utils4:before {display: inline-block;content: '';background: url(../images/spr_utils_ui.png);-ms-background-position-y: -167px;background-position-y: -167px;vertical-align: middle;}
.cm_btnico_utils4--memo:before {width: 11px;height: 10px;-ms-background-position-x: 0;background-position-x: 0;}
.cm_btnico_utils4--line:before {width: 11px;height: 10px;-ms-background-position-x: -22px;background-position-x: -22px;}
.cm_btnico_utils4--img:before {width: 11px;height: 11px;-ms-background-position-x: -44px;background-position-x: -44px;}
.cm_btnico_utils4--refresh:before {width: 11px;height: 12px;-ms-background-position-x: -66px;background-position-x: -66px;}
.cm_btnico_utils4_wrap .cm_btnico_utils4 {float: left;border-width: 1px 1px 1px 0;}
.cm_btnico_utils4_wrap .cm_btnico_utils4:first-child {border-left-width: 1px;}
.cm_btnico_utils4.is_active {
	-webkit-box-shadow: inset 0 0 0 #8e979f, inset 0 0 1px #8e979f;
	-moz-box-shadow: inset 0 0 0 #8e979f, inset 0 0 1px #8e979f;
	box-shadow: inset 0 0 0 #8e979f, inset 0 0 1px #8e979f;
	background: #abb5bf;
}
.cm_btnico_utils4.is_active:before {-ms-background-position-y: -184px;background-position-y: -184px;}


/* cm_btnico_collapse */
.cm_btnico_collapse {width: 11px;height: 21px;background: url(../images/btnico_collapse.gif) 50% 50% no-repeat;font-size: 0;}

/* cm_btnico_move */
.cm_btnico_move {font-size: 0;}
.cm_btnico_move:before {content: url(../images/btnico_move.png);}
.cm_btnico_move--vert:before {content: url(../images/btnico_move_vert.png);}

/* cm_btnico_more */
.cm_btnico_more {
	position: relative;
	border: 1px solid #33414b;
	-webkit-box-shadow: inset 0 1px 1px #47535d;
	-moz-box-shadow: inset 0 1px 1px #47535d;
	box-shadow: inset 0 1px 1px #47535d;
	width: 32px;
	height: 10px;
	background-color: #33414b;
	font-size: 0;
}
.cm_btnico_more:before {
	display: block;
	content: '';
	width: 0;
	height: 0;
	margin: 5px auto 0;
	border-width: 3px;
	border-style: solid;
	border-color: transparent transparent #909eac;
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}
.cm_btnico_more.is_active:before {
	margin-top: 0;
	-ms-transform: rotate(0);
	transform: rotate(0);
}

/* cm_btnico_delete */
.cm_btnico_delete {height: 8px;width: 8px;background-image: url(../images/spr_delete.png);background-position: 0 0;font-size: 0;}
.cm_btnico_delete:hover,
.cm_btnico_delete:focus,
.cm_btnico_delete.is_active {-ms-background-position-y: -13px;background-position-y: -13px;}

/* cm_btnico_menu */
.cm_btnico_menu {color: #b5babe;}
.cm_btnico_menu:before {display: inline-block;content:'';width: 12px;height: 12px;margin-right: 4px;background-image: url(../images/spr_menu.png);background-position: 0 0;background-repeat: no-repeat;vertical-align: middle;}
.cm_btnico_menu--case:before {background-position-x: 0;}
.cm_btnico_menu--case2:before {background-position-x: -17px;}
.cm_btnico_menu--case3:before {background-position-x: -34px;}
.cm_btnico_menu--case4:before {background-position-x: -51px;}
.cm_btnico_menu--case5:before {background-position-x: -68px;}
.cm_btnico_menu--case6:before {background-position-x: -85px;}
.cm_btnico_menu--case7:before {background-position-x: -102px;}
.cm_btnico_menu--case8:before {background-position-x: -119px;}
.cm_btnico_menu--case9:before {background-position-x: -136px;}
.cm_btnico_menu--case10:before {background-position-x: -153px;}
.cm_btnico_menu--case11:before {background-position-x: -170px;}
.cm_btnico_menu--case12:before {background-position-x: -187px;}
.cm_btnico_menu--case13:before {background-position-x: -204px;}
.cm_btnico_menu:hover,
.cm_btnico_menu:focus,
.cm_btnico_menu.is_active {color: #55b6d7;}
.cm_btnico_menu:hover:before,
.cm_btnico_menu:focus:before,
.cm_btnico_menu.is_active:before {background-position-y: -17px;}

/* cm_btnico _reg */
.cm_btnico_reg {
	content: '';
	width: 18px;
	height: 1.5em;
	border: 1px solid #d0d3d6;
	-webkit-border-radius: 2px;
	-moz-border-radius: ;
	border-radius: 2px;
	background-color: #f2f4f7;
	background-image: url(../images/btnico_reg.png);
	background-position: 50% 50%;
}

/* cm_btnico_form-util */
.cm_btnico_form-util {
	position: relative;
	width: 28px;
	height: 28px;
	border: 1px solid #939dab;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8c97ab+1,8993a5+49,838ea0+50,6e7888+100 */
	background: #8c97ab; /* Old browsers */
	background: -moz-linear-gradient(top, #8c97ab 1%, #8993a5 49%, #838ea0 50%, #6e7888 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #8c97ab 1%,#8993a5 49%,#838ea0 50%,#6e7888 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #8c97ab 1%,#8993a5 49%,#838ea0 50%,#6e7888 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8c97ab', endColorstr='#6e7888',GradientType=0 ); /* IE6-9 */
	color: #fff;
	font-weight: 700;
	font-size: 15px;
	line-height: 28px;
	text-align: center;
}

.cm_btnico_form-util--toggle:before {
	background-image: url(../images/btnico_minus.png);
	background-repeat: no-repeat;
	width: 15px;
	height: 2px;
	display: inline-block;
	content: '';
	position: absolute;
	left: 7px;
	top: 13px;
}

.cm_btnico_form-util--phone:before {
	background-image: url(../images/btnico_phone.png);
	background-repeat: no-repeat;
	width: 15px;
	height: 18px;
	display: inline-block;
	content: '';    
	position: absolute;
    left: 7px;
    top: 5px;
}

/* cm_ico_ 
---------------------*/
[class*=cm_ico]{display: inline-block;}

/* cm_ico_time */
.cm_ico_time {color: #4b90a7;font-size: 0;}
.cm_ico_time:before {content: url(../images/ico_time_small.png);vertical-align: middle;}

/* cm_ico_time2 */
.cm_ico_time2:before {content: url(../images/ico_time.png);vertical-align: middle;}

/* cm_ico_is, cm_ico_none */
.cm_ico_is,
.cm_ico_none {font-size: 0;} 
.cm_ico_is,
.cm_ico_none:after,
.cm_ico_none:before {
	-webkit-box-shadow: 0 1px 1px #fff;
	-moz-box-shadow: 0 1px 1px #fff;
	box-shadow: 0 1px 1px #fff;
}
.cm_ico_is {
	width: 12px;
	height: 12px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background-color: #e4b1b1;
}

.cm_ico_none:after,
.cm_ico_none:before {
	display: inline-block;
	content: '';
	width: 3px;
	height: 12px;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px;
	-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,.3);
	-moz-box-shadow: inset 0 0 2px rgba(0,0,0,.3);
	box-shadow: inset 0 0 2px rgba(0,0,0,.3);
	background-color: #bdbfc4;
}
.cm_ico_none:before {margin-right: 2px;}

/* cm_ico_badge */
.cm_ico_badge {
	-webkit-border-radius: .2em;
	-moz-border-radius: .2em;
	border-radius: 2px;
	height: 1.5em;
	padding: 0 2px;
	background-color: #ddd;
	font-weight: normal;
	font-size: 11px;
	color: #fff;
	line-height: 1.6;
}
.cm_ico_badge--gray {background-color: #abb4be;}
.cm_ico_badge--green {background-color: #7aa8b1;}
.cm_ico_badge--puple {background-color: #97a9c2;}
.cm_ico_badge--red {background-color: #cc8792;}
.cm_ico_badge--pink {background-color: #dfafb0;}
.cm_ico_badge--lightgreen {background-color: #e2f0d9;}
.cm_ico_badge--darkblue {background-color: #9dc3e6;}
.cm_ico_badge--yellow {background-color: #feeca4;}
.cm_ico_badge--white {background-color: #fff;}
.cm_ico_badge--blue {background-color: #76a4d9;}
.cm_ico_badge--lightred {background-color: #cc5343;}
.cm_ico_badge--wine {background-color: #b55ecd;}
.cm_ico_badge.corner-half {width: 1.5em;text-align: center;}

/* cm_ico_check */
.cm_ico_check {display: inline-block;width: 10px;height: 8px;background: url(../images/ico_check.png) 50% 50% no-repeat;font-size: 0;}

/* cm_ico_login */
.cm_ico_login {width: 30px;height: 30px;background-color: #2e3a43;line-height: 30px;text-align: center;}
.cm_ico_login:before {content: url(../images/ico_login_lock_off.png);}
.cm_ico_login.is_active:before {content: url(../images/ico_login_lock_on.png);}


/* cm_select 
------------------------------*/
[class*="cm_select"] {display: inline-block;}
[class*="cm_select"],
[class*="cm_select"] .nice-select {height: 28px;line-height: 28px;}
[class*="cm_select"][class*="--sm"],
[class*="cm_select"][class*="--sm"] .nice-select {height: 1.25em;line-height: 1.25em;}
[class*="cm_select"] .nice-select {background: none;}
[class*="cm_select"],
[class*="cm_select"] .nice-select-btn-close {border-style: solid;font-size: 14px;color: #8f9ba7;}
[class*="cm_select"] .nice-select-btn-close:after, .nice-select:after {
	top: 45%;
}
[class*="cm_select"] .nice-select-btn-close:after {-ms-transform: rotate(180deg);transform: rotate(180deg);}
[class*="cm_select"] .nice-select .list {
	left: -1px;
	min-width: 100%;
	margin-top: 1px;
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
}
[class*="cm_select"] .nice-select .list ul {border-width: 0 1px 1px;border-style: solid;border-color: #d0d3d6;}
[class*="cm_select"].is_active {color: #000;z-index: 9999999;}
[class*="cm_select"] .current {display: block;overflow: hidden;width: 100%;padding-left: 5px;font-size: 14px;font-family: inherit;color: #808080;text-overflow: ellipsis;white-space: nowrap;}
[class*="cm_select"] .nice-select,
[class*="cm_select"] .nice-select-btn-close{float: none;}
[class*="cm_select"] .nice-select:after {-webkit-transform: rotate(0);transform: rotate(0);}
[class*="cm_select"][class*="--sm"],
[class*="cm_select"][class*="--sm"] .nice-select-btn-close,
[class*="cm_select"][class*="--sm"] .current {font-size: 12px;}
[class*="cm_select"][class*="--sm"] .nice-select, 
[class*="cm_select"][class*="--sm"] .nice-select-btn-close {padding-right: 15px;}
.cm_select_primary {background-color: #fff;}
.cm_select_primary .nice-select .list {margin-top: 0;}

/* cm_select_darkness */ 
.cm_select_darkness .nice-select {background-color: transparent;}
.cm_select_darkness .nice-select .list {margin-top: 0;padding-top: 40px;}
.cm_select_darkness .nice-select-btn-close {position: absolute;top:0;height: 40px;border-color: #68c3e2;background-color: #313e47;line-height: 40px;}

.cm_select_wrap {
	width: 100%;
}
.cm_select_darkness_wrap .cm_select_darkness {border-width: 0 0 0 1px;}
.cm_select_darkness_wrap .cm_select_darkness:last-child {border-width: 0 1px 0 1px ;}
.cm_select_darkness_wrap .cm_select_darkness {box-shadow: inset 0 -1px 0 #3f4b53;}
.cm_select_darkness_wrap.box-case2 [class*="cm_select"] {border-color: #222c32;}

/* cm_select_checbox */ 
.cm_select_checkbox {position: relative;padding: 0 25px 0 10px;background-color: #fff;}
.cm_select_checkbox_txt {width: 100%;border: 0;color: #808080;}
.cm_select_checkbox_txt span:nth-child(n + 2):before {content: ','}
.cm_select_checkbox:after {
    /*border-bottom: 2px solid #999;
    border-right: 2px solid #999;*/
    display: inline-block;
	position: absolute;
	right: 5px;
	top: 50%;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    transition: all 0.15s ease-in-out;
}
.cm_select_checkbox.is_active {
	border: 1px solid #58bddf;
}

.cm_select_checkbox.is_active:after {
	-webkit-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	transform: rotate(-180deg); 
}

.cm_select_checkbox.is_active .cm_select_checkbox_list {
	opacity: 1;
	pointer-events: auto;
	-webkit-transform: scale(1) translateY(0);
	-ms-transform: scale(1) translateY(0);
	transform: scale(1) translateY(0); 
}
.cm_select_checkbox .nice-select:active{
    border-color: #999; 
}
.cm_select_checkbox_list {
	display: none;
	-webkit-box-shadow: 0 8px 5px rgba(0,0,0,.1);
	-moz-box-shadow: 0 8px 5px rgba(0,0,0,.1);
	box-shadow: 0 8px 5px rgba(0,0,0,.1);
	position: absolute;
	right: 0;
	top: 100%;
	margin-top: 1px;
	padding: 5px;
	height: auto;
	background-color: #fff;
	white-space: nowrap;
}
.cm_select_checkbox_list li,
.cm_select_checkbox.is_active .cm_select_checkbox_list {
	display: block;
}
.cm_select_checkbox_list li:hover {background-color: #f5f8f9;}

/* cm_srch */
.cm_srch_primary {position: relative;clear: both;height: 28px;line-height: 28px;background-color: #fff;}
.cm_srch_primary [type=text] {width: calc(100% - 25px);height: 100%;background-color: transparent;vertical-align: top;}
.cm_srch_primary .cm_btn_srch {position: absolute;top: 50%;margin-top: -9px;}
.cm_srch_primary .cm_btn_srch--sm {margin-top: -4px;}
.cm_srch_primary_result {display: none;overflow-y: hidden;position: absolute;left: 0;min-width: 100%;border: 1px solid #d0d3d6;background-color: #fff;line-height: 1.5;}
.cm_srch_primary_result a {color: #808080;}
.cm_srch_primary_util {color: #808080;background-color: #e6e9ed;letter-spacing: -1px;}
.cm_srch_primary_util button {height: 22px;font: 11px/22px dotum;letter-spacing: -1.5px;}
.cm_srch_primary--darkness {color: #fff;}
.cm_srch_primary_wrap.is_active {z-index: 9999999;border-color: #68c3e2;}

/* cm_carousel_news 
----------------------------*/
.cm_carousel_news {position: relative;line-height: 1.5em;}
.cm_carousel_news ul {width: calc(100% - 15px);} 
.cm_carousel_news ul a {color: #808080;}
.cm_carousel_news_prev,
.cm_carousel_news_next {position: absolute;right: 0;top: .5em;width: 7px;height: 5px;background-image: url(../images/spr_carousel.png);-ms-background-position-y: 0 0;background-position: 0 0;font-size: 0;}
.cm_carousel_news_next {top: auto;bottom: .5em;background-position-x: -12px;}

/* cm_calendar_
----------------------------*/ 

/* cm_calendar_multi */
.cm_calendar_multi {background-color: #3b4b56;}
.cm_calendar_multi_datepicker {position: relative;width: 100%;}
.cm_calendar_multi .ui-datepicker-calendar {border: 1px solid #43525d;height: 284px;}
.cm_calendar_multi .ui-datepicker-calendar tbody{
	-webkit-box-shadow: inset 0 1px 5px rgba(0,0,0,.4);
	-moz-box-shadow: inset 0 1px 5px rgba(0,0,0,.4);
	box-shadow: inset 0 1px 5px rgba(0,0,0,.4);
}
.cm_calendar_multi .ui-datepicker-title {margin: 0;padding: 0;text-align: left;}
.cm_calendar_multi_datepicker .ui-datepicker-year {display: none;}
.cm_calendar_multi .ui-datepicker {width: 100% !important;border-width: 0;} 
.cm_calendar_multi .ui-datepicker th {padding: 3px 0;color: #818a94;}
.cm_calendar_multi .ui-datepicker td {position: relative;padding: 0;border: 1px solid #3b4b56;background-color: transparent;}
.cm_calendar_multi .ui-datepicker thead {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#32404a+0,303d46+63,252f36+100 */
	background: #32404a; /* Old browsers */
	background: -moz-linear-gradient(top, #32404a 0%, #303d46 63%, #252f36 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #32404a 0%,#303d46 63%,#252f36 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #32404a 0%,#303d46 63%,#252f36 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#32404a', endColorstr='#252f36',GradientType=0 ); /* IE6-9 */
}
.cm_calendar_multi .ui-datepicker-prev,
.cm_calendar_multi .ui-datepicker-next {display: none;}
.cm_calendar_multi .ui-datepicker-header {display: none;background-color: transparent;}
.cm_calendar_multi .ui-datepicker-header select {display: none;}
.cm_calendar_multi .ui-widget.ui-widget-content {padding: 0;border-color: #43525c;background-color: transparent;}
.cm_calendar_multi .ui-datepicker table {margin: 0;background-color: #2f3c45;}
.cm_calendar_multi .ui-datepicker td span, 
.cm_calendar_multi .ui-datepicker td a {
	padding: 0;
}
.cm_calendar_multi_datepicker .ui-state-default {background-color: transparent;font-size: 18px;color: #4f5b68;text-align: center;}
.cm_calendar_multi .ui-datepicker-other-month .ui-state-default {color: #171e23;}
.cm_calendar_multi .ui-datepicker .ui-state-default.is_today {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
    flex-wrap: wrap;
	align-items: center;
	-ms-align-items: center;
	-ms-justify-content: center;
	justify-content: center;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.5);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.5);
	box-shadow: 0 1px 2px rgba(0,0,0,.5);
	width: 100%;
	height: 100%;
	border: 5px solid #56bfe1;
	color: #56bfe1;
}
.cm_calendar_multi .ui-datepicker .ui-state-default.is_reserve,
.cm_calendar_multi .ui-datepicker .ui-state-default.is_history {position: relative;background-color: #3b4b56;}
.cm_calendar_multi .ui-datepicker .ui-state-default.is_reserve {color: #f5686c;}
.cm_calendar_multi .ui-datepicker .ui-state-default.is_history {color: #58bddf;}
.cm_calendar_multi .ui-datepicker .ui-state-default.is_reserve:before,
.cm_calendar_multi .ui-datepicker .ui-state-default.is_history:before {display: block;content: '';position: absolute;left: -6px;top: -6px;width: 0;height: 0;border-width: 6px;border-style: solid;border-color: transparent transparent #58bddf;-ms-transform: rotate(-45deg);transform: rotate(-45deg);color: #58bddf;}
.cm_calendar_multi .ui-datepicker .ui-state-default.is_reserve:before {border-bottom-color: #ff6a6d;color: #ff6a6d;}
.cm_calendar_multi_control {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
    flex-wrap: wrap;
	-ms-align-items: center;
	align-items: center;
	width: 100%;
}
.cm_calendar_multi_control >* {
	padding: 0 0 5px;text-align: center;line-height: 1;
}
.cm_calendar_multi_year,
.cm_calendar_multi_month {font: 900 22px/1.5 'Nanum Square',sans-serif;color: #fff;}
.cm_calendar_multi_prev,
.cm_calendar_multi_next {width: 0;height: 0;border-width: 3px 5px;border-style: solid;font-size: 0;vertical-align: 6px;}
.cm_calendar_multi_prev {border-color: transparent #fff transparent transparent;}
.cm_calendar_multi_next {border-color: transparent transparent transparent #fff;}
.cm_calendar_multi_opt {margin-left: 15px;}
.cm_calendar_multi_opt >button {float: left;width: 30px;height: 18px;background-color: #323f49;font-size: 12px;color: #818a94;line-height: 18px;font-weight: 700;}
.cm_calendar_multi_opt >button:first-child {border-radius: 2px 0 0 2px;}
.cm_calendar_multi_opt >button:last-child {border-radius:  0 2px 2px 0;}
.cm_calendar_multi_opt >button:hover,
.cm_calendar_multi_opt >button.is_active {background-color: #26333a;color: #55b6d7;}

.cm_calendar_multi[data-mode=month] .ui-datepicker-calendar {height: 160px;}
.cm_calendar_multi[data-mode=month] .ui-state-default {font-size: 14px;}
.cm_calendar_multi[data-mode=month] .ui-state-default.is_today {border-width: 2px;}
.cm_calendar_multi[data-mode=month] .ui-datepicker-multi {
	display: -ms-flexbox !important;
	display: flex !important;
	-ms-flex-wrap: wrap;
    flex-wrap: wrap;
	-ms-align-items: center;
	align-items: center;
	-ms-justify-content: space-between;
	justify-content: space-between;
}
.cm_calendar_multi[data-mode=month] .ui-datepicker-multi .ui-datepicker-group {float: none;}
.cm_calendar_multi[data-mode=month] .ui-datepicker-multi .ui-datepicker-group:nth-child(n+2) table {margin-left: 5%}


.cm_calendar_multi[data-mode=year] .ui-state-default {font-size: 11px;}
.cm_calendar_multi[data-mode=year] .ui-state-default.is_today {height: 26px;border-width: 2px;line-height: 18px;}
.cm_calendar_multi[data-mode=year] .ui-datepicker-header {display: block;font-size: 13px;padding: 5px 0;}
.cm_calendar_multi[data-mode=year] .ui-datepicker-title {
	-ms-transform: scale(1,1.4);
	transform: scale(1,1.4);
	margin-bottom: 5px;
	line-height: 1.25;
}
.cm_calendar_multi[data-mode=year] .ui-datepicker thead {display: none;}
.cm_calendar_multi[data-mode=year] .ui-datepicker-calendar {height: 150px;}
.cm_calendar_multi[data-mode=year] .ui-datepicker td {padding: 1px;}
.cm_calendar_multi[data-mode=year] .ui-datepicker-group {
	-ms-transform: scale(.95,.55);
	transform: scale(.95,.55);
}
.cm_calendar_multi[data-mode=year] .ui-datepicker-group:nth-child(-n+3) {margin-top: -20px;}
.cm_calendar_multi[data-mode=year] .ui-datepicker-group:nth-child(n+4) {margin-top: -76px;}
.cm_calendar_multi[data-mode=year] .ui-datepicker td span, .ui-datepicker td a {padding: 2px;}

.cm_calendar_multi_optionday {margin-left: auto;}
.cm_calendar_multi_optionday button {font-size: 13px;}
.cm_calendar_multi_optionday_list {display: none;}
.cm_calendar_multi_optionday_list_inner {width: 90px;height: 244px;padding: 5px;background-color: #26333a;font-size: 16px;}
.cm_calendar_multi_optionday_list_inner li {margin-bottom: 5px;}
.cm_calendar_multi_optionday_list.is_active {display: block;}
.cm_calendar_multi_optionday_list.is_active + .ui-datepicker {width: calc(100% - 90px) !important;}

.cm_calendar_multi--light {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
    flex-wrap: wrap;
	background-color: #e6e9ed;
}
.cm_calendar_multi--light .cm_calendar_multi_control {-ms-flex: 0 0 auto;flex: 0 0 auto;}
.cm_calendar_multi--light .cm_calendar_multi_datepicker {-ms-flex: 1 1 0;flex: 1 1 0;}

.cm_calendar_multi--light .cm_calendar_multi_optionday_list_inner {height: 100%;}
.cm_calendar_multi--light .cm_calendar_multi_year, 
.cm_calendar_multi--light .cm_calendar_multi_month {color: #48555e;}
.cm_calendar_multi--light .cm_calendar_multi_prev {border-color: transparent #48555e transparent transparent;}
.cm_calendar_multi--light .cm_calendar_multi_next {border-color: transparent transparent transparent #48555e;}
.cm_calendar_multi--light .ui-datepicker {height: 100%;}
.cm_calendar_multi--light .ui-datepicker table {height: 100%;border: 1px solid #ecedee;background: #f2f4f7;}
.cm_calendar_multi--light .ui-datepicker thead tr {height: 24px;background: #fafbfc;}
.cm_calendar_multi--light .ui-datepicker th {font-size: 13px;}
.cm_calendar_multi--light .ui-datepicker th span {opacity: .5;}
.cm_calendar_multi--light .ui-datepicker td {height: 30px;border-color: #fff;}
.cm_calendar_multi--light .ui-datepicker td:first-child {border-left-width: 0;}
.cm_calendar_multi--light .ui-datepicker td:last-child {border-right-width: 0;}
.cm_calendar_multi--light .ui-datepicker tr:last-child td {border-bottom-width: 0;} 
.cm_calendar_multi--light .cm_calendar_multi_datepicker .ui-state-default {font-size: 14px;font-family: 'Noto Sans',sans-serif;font-weight: normal;}
.cm_calendar_multi--light .ui-datepicker {
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	-ms-flex-positive: 1;
	flex-grow: 1;
	max-width: 100%;
}
.cm_calendar_multi--light .cm_calendar_multi_optionday_list {
	display: block;
	-ms-flex: 0 0 auto;
	flex: 0 0 auto;
	width: auto;
	max-width: none;
}
.cm_calendar_multi--light .cm_calendar_multi_optionday_list_inner {background-color: #d6dbe0;}
.cm_calendar_multi--light .ui-datepicker .ui-state-default.is_today {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-width: 3px;
	background-color: #fff;
	height: 100%;
}

/* cm_datepicker_
----------------------------------*/
.cm_datepicker_primary {display: inline-block;background-color:#fff;width: 100px;height: 28px;}
.cm_datepicker_primary input {width: calc(100% - 20px);}
.cm_datepicker_primary input,
.cm_datepicker_primary  img {vertical-align: middle;}

/* cm_checkbox_
------------------------------*/
[class*=cm_checkbox] {display: inline-block;font-size: 0;}
[class*=cm_checkbox]:hover {cursor: pointer;outline: 1px solid #58bddf}

/* cm_checkbox_circle */ 
.cm_checkbox_circle {width: 16px;height: 16px;border: 2px solid #d1d4d7;-webkit-border-radius: 50%;-moz-border-radius: 50%;border-radius: 50%;font-size: 0;}
.cm_checkbox_circle.is_active {border-width: 0;}
.cm_checkbox_circle.is_active:before {content: url(../images/btnico_checkbox.png);}

/* cm_checkbox_tube */ 
.cm_checkbox_tube {width: 17px;height: 17px;border: 2px solid #d0d3d6;border-radius: 50%;background-color:#f2f4f7;}
.cm_checkbox_tube.is_active {border: 4px solid #4b90a7;background-color:#fff; }

/* cm_checkbox_check */
.cm_checkbox_check {width: 10px;height: 9px;}
.cm_checkbox_check:before {content: url(../images/btnico_checkbox_light_off.png);}
.cm_checkbox_check.is_active:before {content: url(../images/btnico_checkbox_light_on.png);}

.cm_checkbox_empty {width: 10px;height: 9px;}
.cm_checkbox_empty:before {content: '';}
.cm_checkbox_empty.is_active:before {content: url(../images/btnico_checkbox_darkgray.png);}

/* cm_ipt_ 
-----------------------*/
.cm_ipttxt_compact_wrap .cm_ipttxt_compact {height: 100%;}
.cm_ipttxt_compact_wrap .cm_ipttxt_compact:nth-child(n+2) {border-left: 1px solid #d0d3d6;}

/* cm_ipttxt_code */
.cm_ipttxt_code {width: 60px;line-height: 18px;height: 18px;}

/* cm_ipttxt_primarycode */
.cm_ipttxt_primarycode {width: 80px;}

/* cm_ipttxt_year  */
.cm_ipttxt_year {width: 50px}

/* cm_ipttxt_month  */
.cm_ipttxt_month {width: 30px}

/* cm_ipttxt_day  */
.cm_ipttxt_day {width: 30px}

/* cm_ipttxt_hour  */
.cm_ipttxt_hour {width: 30px}

/* cm_ipttxt_minute  */
.cm_ipttxt_minute {width: 30px}

/* cm_ipttxt_primary  */
.cm_ipttxt_primary {width: 30px;}

/* cm_tab 
-------------------------*/
[class*=cm_tab_] {height: 28px;line-height: 28px;text-align: center;}
[class*=cm_tab_] >li {height: 100%;padding: 1px 1px 0;border-left-width: 1px;border-style: solid;background-color: transparent;}
[class*=cm_tab_] >li:last-child {border-right-width: 1px;}
[class*=cm_tab_] >li >a {display: block;width: 100%;height: 100%;font-weight: 700;transition: all .2s;}

/* cm_tab_case */
.cm_tab_case,
.cm_tab_case >li {border-color: #33414b;}
.cm_tab_case {
	border-top-width: 1px ; 
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4e5f6b+50,4e5f6b+50,445663+51 */
	background: #4e5f6b; /* Old browsers */
	background: -moz-linear-gradient(top, #4e5f6b 50%, #4e5f6b 50%, #445663 51%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #4e5f6b 50%,#4e5f6b 50%,#445663 51%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #4e5f6b 50%,#4e5f6b 50%,#445663 51%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e5f6b', endColorstr='#445663',GradientType=0 ); /* IE6-9 */
	
}
.cm_tab_case >li >a:hover,
.cm_tab_case >li >a:focus,
.cm_tab_case >li.is_active >a {background-color: rgba(0,0,0,.2);color: #58bddf;}

/* cm_tab_case2 */
.cm_tab_case2 a {padding-left: 5px;padding-right: 5px;color: #7a8189;}
.cm_tab_case2 >li {border-color: #d0d3d6;}
.cm_tab_case2 >li:first-child {border-width: 0;}
.cm_tab_case2 >li >a:hover,
.cm_tab_case2 >li >a:focus,
.cm_tab_case2 >li.is_active >a {background-color: #fff;color: #48555e;}

/* cm_tab_secondary */
.cm_tab_secondary {
	border-bottom: 1px solid #fff;
	-webkit-box-shadow: inset 0 -1px 0 #d0d3d6;
	-moz-box-shadow: inset 0 -1px 0 #d0d3d6;
	box-shadow: inset 0 -1px 0 #d0d3d6;
}
.cm_tab_secondary a {
	padding: 0 10px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#afb8c1+50,abb4be+50 */
	background: #afb8c1; /* Old browsers */
	background: -moz-linear-gradient(top, #afb8c1 50%, #abb4be 50%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #afb8c1 50%,#abb4be 50%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #afb8c1 50%,#abb4be 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#afb8c1', endColorstr='#abb4be',GradientType=0 ); /* IE6-9 */
	color: #fff;
}
.cm_tab_secondary li {overflow: hidden;padding: 0;border-width: 1px 1px 0 0;border-style: solid;border-color: #929fac;}
.cm_tab_secondary li:first-child {
	border-left-width: 1px;
	border-top-left-radius: 3px;
}
.cm_tab_secondary li:last-child {
	border-top-right-radius: 3px;
}
.cm_tab_secondary li.is_active a{
	
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5496ab+50,4b90a7+50 */
	background: #5496ab; /* Old browsers */
	background: -moz-linear-gradient(top, #5496ab 50%, #4b90a7 50%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #5496ab 50%,#4b90a7 50%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #5496ab 50%,#4b90a7 50%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5496ab', endColorstr='#4b90a7',GradientType=0 ); /* IE6-9 */
}
/* cm_table_ 
-----------------------*/

/* cm_table_case */
.cm_table_case {color: #818a94;}
.cm_table_case >thead {margin-top: .1em;font-size: 12px;line-height: 3;}
.cm_table_case >tbody {font-size: 14px;line-height: 1.25;}
.cm_table_case >tbody.is_active,
.cm_table_case >tbody >tr.is_active {color: #fff;}


/* cm_table_case2 */
.cm_table_case2 >thead >tr >th {padding: 1px 0;color: #babdc1;font-weight: normal;font-size: 12px;}
.cm_table_case2 >tbody >tr >td {padding: 0 5px;}
.cm_table_case2 >tbody >tr >td >* {vertical-align: middle;}

/* cm_table_case3 */
.cm_table_case3 thead {border-bottom: 1px solid #d0d3d6;;}
.cm_table_case3 >thead >tr >th >*,
.cm_table_case3 >tbody >tr >td >* {vertical-align: middle;}
.cm_table_case3 >thead >tr >th {font-weight: normal;font-size: 12px;color: #babdc1;}
.cm_table_case3 >tbody >tr >td {position: relative;padding: 2px;font-weight: 700;font-size: 13px;color: #808080;}
.cm_table_case3 >tbody tr.is_defer >td{background-color: #fceeee;color: #dd9d9d;}
.cm_table_case3 tr.is_shortable >td:last-child {padding-right: 15px;}
.cm_table_case3--family >tbody >tr:hover {cursor: pointer;background-color: #f5f8f9;}
.cm_table_case3--family >tbody >tr:hover
.cm_table_case3_wrap {background-color: #e6e9ed;}

/* cm_table_form */
.cm_table_form {}
.cm_table_form th,
.cm_table_form td {padding: 5px;border: 1px solid #d0d3d6;text-align: left;}
.cm_table_form th label {font-weight: 700;}

/* cm_textarea_ 
--------------------------*/

/* cm_textarea_case */
.cm_textarea_primary {border: 1px solid #d0d3d6;}
.cm_textarea_primary_wrap .cm_textarea_primary {height: 100%;border-left-width: 0;}
.cm_textarea_primary_wrap .cm_textarea_primary:first-child {border-left-width: 1px;}

/* data-cm-grid */
[data-cm-grid] [type=text],
[data-cm-grid] [type=password] {background-color: transparent;}
[data-cm-grid-cell-focus=true],
[data-cm-grid-row-selected=true] {background-color: #f5f8f9 !important;}
[data-cm-grid-cellholder] {display: inline-block;min-width: auto;min-height: 10px;}